@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  /* typography */
  --font-family: "Inter", sans-serif;
  --font-size-base: 16px;
  --font-size-md: 18px;
  --font-size-lg: 20px;
  --font-size-xl: 36px;
  --font-size-xxl: 48px;
  --font-size-xxxl: 60px;

  /* colors */
  --color-primary: #444ce7;
  --color-secondary: #3538cd;
  --color-heading: #101828;
  --color-text: #475467;
  --color-shadow: #eaecf0;

  /* layout */
  --container-width: 1280px;
  --container-paading: 0px 32px;
  --section-padding: 96px 0px;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  font-weight: 400;
  line-height: 28px;
  color: var(--color-text);
  background: #fff;
}

section,
footer {
  display: flex;
  flex-direction: column;
  padding: var(--section-padding);
  gap: 64px;
}

footer {
  padding: 64px 0px 48px 0px;
  background-color: #0c111d;
}

.container {
  max-width: var(--container-width);
  padding: var(--container-paading);
  margin: 0px auto;
  width: 100%;
}

.heading-xl {
  color: var(--color-heading);
  font-size: var(--font-size-xl);
  font-weight: 600;
  line-height: 44px; /* 122.222% */
  letter-spacing: -0.72px;
}
.heading-supptext {
  font-size: var(--font-size-lg);
  line-height: 30px;
  margin-top: 20px;
}

.section_divider {
  border: 1px solid var(--color-shadow);
  /* width: 100%; */
}

/* Hero-Header-Section */

.Hero-Header-Section {
  width: 100%;
  background: url(../assets/image/Background_pattern.svg);
}

/* Header Section */

header .container {
  margin-top: 18px;
  margin-bottom: 18px;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  font-weight: 600;
  line-height: 24px;
  color: var(--color-heading);
}
/* Logo */

.logo {
  display: flex;
  align-items: center;
}

.logo h4 {
  padding-left: 9px;
  padding-right: 14px;
}
.logo span {
  color: var(--color-primary);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}
.navbar-left ul {
  color: var(--color-text);
  display: flex;
  list-style-type: none;
  gap: 32px;
  padding: 0px;
}

/* navbar-right */
.navbar-right {
  display: flex;
  gap: 12px;
}

header button {
  padding: 10px 18px;
  font-weight: 600;
  line-height: 24px;
  color: var(--color-heading);
  border-radius: 8px;
  background-color: #fff;
}

.navbar_btn-login {
  background: transparent;
  box-shadow: none;
  color: #475467;
}

.navbar_btn-signup {
  width: 95px;
  color: #fff;
  border: 1px solid var(--color-primary);
  background: var(--color-primary);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.nav_mobile-icon {
  display: none;
}

/* Hero Area */
.hero_content1_heading {
  text-align: center;
}

.hero_content1_heading-text {
  margin: 0px auto;
  max-width: 1024px;
  font-size: var(--font-size-xxxl);
  color: var(--color-heading);
  font-weight: 500;
  line-height: 72px;
  letter-spacing: -1.2px;
}
.hero_content1_heading-supp-text {
  color: var(--color-text);
  max-width: 678px;
  font-size: var(--font-size-lg);
  line-height: 30px;
  margin: 24px auto 48px auto;
}

.hero_content1_actions {
  max-width: 308px;
  margin: 0px auto;
}
.hero_content1_actions button {
  padding: 16px 28px;
  font-size: var(--font-size-md);
  font-weight: 600;
  border-radius: 8px;
}
.hero_content1_actions-btn1 {
  color: #344054;
  border: 1px solid var(--gray-300, #d0d5dd);
  background: var(--base-white, #fff);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  margin-right: 12px;
}

.hero_content1_actions-btn2 {
  color: #fff;
  border: 1px solid var(--primary-600, #444ce7);
  background: var(--primary-600, #444ce7);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.hero_content2_desktop {
  width: 100%;
}
.hero_content2_mobile {
  display: none;
}

/* Contetn */

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 64px;
}

.content_content1_heading {
  margin-bottom: 40px;
}

.content_content1_text {
  font-size: var(--font-size-md);
}
.content2_image {
  max-width: 576px;
  width: 100%;
}

/* Pricing */
.pricing_content_heading-text {
  margin-top: 20px;
  font-size: var(--font-size-lg);
  line-height: 30px;
}

.pricing_tier {
  display: flex;
  gap: 32px;
}
.pricing_tier_card {
  max-width: 384px;
  width: 100%;
  border-radius: 16px;
  border: 1px solid var(--color-shadow);
  background: var(--base-white, #fff);
  box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03),
    0px 12px 16px -4px rgba(16, 24, 40, 0.08);
}
.pricing_tier_card_header {
  padding: 32px 32px 0 32px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.pricing_tier_card-heading {
  color: var(--color-secondary);
  font-size: var(--font-size-lg);
  font-weight: 600;
  line-height: 30px;
}

.pricing_tier_card-price {
  color: var(--color-heading);
  font-size: var(--font-size-xxl);
  font-weight: 600;
  line-height: 60px; /* 125% */
  letter-spacing: -0.96px;
}
.pricing_tier_card-text {
  line-height: 24px;
}

.pricing_tier_card_content {
  padding: 32px;
}

.pricing_tier_card_content_list {
  padding: 0px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.pricing_tier_card_content_list li {
  display: flex;
  gap: 12px;
  align-items: center;
}

.pricing_tier_card_footer {
  padding: 32px;
  background-color: #f9fafb;
}
.pricing_tier_card_footer-btn {
  width: 100%;
  color: #fff;
  font-weight: 600;
  line-height: 24px;
  padding: 12px 20px;
  border-radius: 8px;
  border: 1px solid var(--color-primary);
  background: var(--color-primary);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
/* Metrics Section */

.metrics_body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 96px;
  align-items: center;
}
.metrics_body_content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 64px 32px;
}
.metrics_body_content-card {
  text-align: center;
}
.metrics_card-heading {
  color: var(--color-primary);
  font-size: var(--font-size-xxxl);
  font-weight: 600;
  line-height: 72px;
  letter-spacing: -1.2px;
  margin-bottom: 12px;
}
.metrics_card-text {
  color: var(--color-heading);
  font-size: var(--font-size-md);
  font-weight: 600;
}
.metrics_card-text-supp {
  margin-top: 8px;
  line-height: 24px;
}
.metrics_body_img-desktop {
  max-width: 100%;
  height: auto;
}

/* Contact Section */
.contact {
  background-color: #f9fafb;
}
.contact .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 96px;
}
.contact_content-right {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 48px;
}
.contact_content {
  display: flex;
  gap: 16px;
}
.contact_content img {
  align-self: flex-start;
}
.contact_content .content {
  display: block;
}
.contact_content-heading {
  color: var(--color-heading);
  font-size: var(--font-size-lg);
  font-weight: 600;
  line-height: 30px;
}

.contact_content-text {
  margin-top: 8px;
  line-height: 24px;
}

/* Footer */

.foot-start {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

footer .logo h4 {
  color: #fff;
}

.footer-link {
  color: #eaecf0;
  font-weight: 600;
  line-height: 24px;
  display: flex;
  gap: 32px;
  list-style: none;
  padding-left: 0px;
}

.foot-end {
  color: #d0d5dd;
  line-height: 24px;
  display: flex;
  border-top: 1px solid var(--gray-600, #475467);
  padding-top: 32px;
}
.foot-end p {
  flex-grow: 1;
}

.foot-end ul {
  display: flex;
  gap: 32px;
  list-style: none;
  align-self: flex-end;
  padding: 0px;
}
