:root {
  /* typography */
  --font-family: "Inter", sans-serif;
  --font-size-base: 16px;
  --font-size-md: 18px;
  --font-size-lg: 20px;
  --font-size-xl: 36px;
  --font-size-xxl: 48px;
  --font-size-xxxl: 60px;

  /* colors */
  --color-primary: #444ce7;
  --color-secondary: #3538cd;
  --color-heading: #101828;
  --color-text: #475467;

  /* layout */
  --container-width: 1280px;
  --container-paading: 0px 32px;
  --section-padding: 96px 0px;
}

/* Root */

:root {
  /* typography */
  --font-size-xl: 30px;

  /* Layout */
  --container-paading: 0px 16px;
  --section-padding: 64px 0px;
}

section {
  gap: 48px;
}
footer {
  padding: 48px 0px;
  gap: 48px;
}

.heading-xl {
  line-height: 38px; /* 122.222% */
  letter-spacing: normal;
}

/* Hero section */
.Hero-Header-Section {
  background: url(../assets/image/Background_pattern_mbl.svg);
}

/* Navbar */
.navbar {
  display: none;
}

header .container {
  padding: 0px 12px 0px 16px;
}

.nav_mobile-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  align-self: flex-end;
  margin-right: 0px;
  padding: 8px;
  border-radius: 8px;
  position: relative;
}

.nav_mobile-icon-bar {
  display: block;
  width: 24px;
  height: 24px;
  height: 4px;
  background-color: #344054;
  position: absolute;
  margin-bottom: 5px;
}

.nav_mobile-icon-bar::before {
  content: "";
  display: block;
  top: -6px;
  left: 0;
  width: 24px;
  height: 4px;
  background-color: #344054;
  position: absolute;
}

.nav_mobile-icon-bar::after {
  content: "";
  display: block;
  top: 8px;
  left: 0;
  width: 24px;
  height: 4px;
  background-color: #344054;
  position: absolute;
}

/*  */
.Hero-Header-Section {
  background: url(../assets/image/Background_pattern.svg) no-repeat;
  object-fit: scale-down;
}

/* Hero Area */

.hero_area {
  gap: 64px;
}

/* Hero Area - Heading */
.hero_content1_heading {
  text-align: left;
}

.hero_content1_heading-text {
  font-size: var(--font-size-xl);
  line-height: 44px; /* 122.222% */
  letter-spacing: -0.72px;
}

.hero_content1_heading-supp-text {
  font-size: var(--font-size-md);
  line-height: 28px;
  margin: 16px auto 32px auto;
}
/* Hero Area - Button */
.hero_content1_actions {
  display: grid;
  max-width: 100%;
}

.hero_content1_actions button {
  padding: 12px 20px;
  font-size: var(--font-size-base);
  line-height: 24px;
}

.hero_content1_actions-btn1 {
  margin-top: 12px;
  margin-right: 0px;
  order: 2;
}
.hero_content1_actions-btn2 {
  order: 1;
}

/* Hero area Image */
.hero_content2_desktop {
  display: none;
}
.hero_content2_mobile {
  display: block;
  width: 100%;
}

/* Content */

.content {
  display: block;
}
.content2 {
  display: none;
}

.content_content1_heading {
  margin-bottom: 32px;
}

.content_content1_text {
  font-size: var(--font-size-base);
  line-height: 24px;
}
.content2_image {
  max-width: 576px;
  width: 100%;
}

/* contact */
.contact .container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 48px;
}

.contact_content-heading {
  color: var(--color-heading);
  font-size: var(--font-size-md);
  font-weight: 600;
  line-height: 28px;
}
.contact_content-right {
  gap: 40px;
}
.contact_content-text {
  margin-top: 4px;
}

/* Footer */
.foot-start {
  align-items: flex-start;
}

.footer-link {
  width: 100%;
  list-style: none;
  padding-left: 0px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 12px 32px;
  grid-template-areas: "l1 l4" "l2 l4" "l3 l4";
}

.footer-link .l1 {
  grid-area: l1;
}
.footer-link .l2 {
  grid-area: l2;
}
.footer-link .l3 {
  grid-area: l3;
}
.footer-link .l4 {
  grid-area: l4;
}
.foot-end {
  flex-direction: column;
  gap: 16px;
}
.foot-end ul {
  order: 1;
  align-self: flex-start;
}
.foot-end p {
  order: 2;
}
